body {
    display: flex;
    justify-content: center; 
    min-height: 100vh; 
    margin: 0; 
    background-color: white;
    gap: 20px;
}
  .super-container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    
  }
  .cuerpo{
    padding-top: 50px;
    display: flex;
    gap: 20px;

  }
 
  .container {
    border: 1px solid #ccc;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    
  }

  .login{
    justify-self: center;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
  }


  .container-datos{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .placeholder{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-90%);
    color: #999;
    font-size: 15px;
    pointer-events: none; 
    transition: all 0.3s ease; 
    flex-wrap: wrap;

  }
  
  .conjunto label {
   position: relative; 
   display: flex;
   flex-direction: column; 
}

.conjunto{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  .cajas {
   
    width: 92%;
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 16px;
    
}

.boton{
  width: 100%;
  background-color: rgb(45, 149, 234);
  color: white;
  font-size: 15px;
  border-color: rgb(45, 149, 234);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.or{
  display: flex;
  justify-self: center;
  font-size: 15px;
  color: #ccc;
}
p{
    padding: 5px;
}
.palabra{

  transform: translateY(5px);
}
  .extras{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align:center;
    font-size: 10px;
    color: rgba(32, 28, 148, 0.682);
  }


  .olvidaste{
    font-size: 10px;
  }
.texto-extra:hover{
  color: rgb(171, 156, 135);
}

  .cajas:focus + .placeholder{ 
    font-size: 10px;
    transform: translateY(-20px);
    color: rgb(171, 156, 135);
}


.dont{
  display: flex;
  font-size: 15px;
  width: 290.837px;
  justify-content: center;
}

.singup{
  color:  rgb(45, 149, 234);
  
}
.singup:hover{
  color: rgb(171, 156, 135);

}
.ultimo {
  display: flex;
  flex-direction: column;
  width: 290.837px;
  border: transparent;
  justify-content: center;

}
.ultimo p{
  text-align: center;
  font-size:15px ;
}
.fotico {
  width: 100%;
}
img{
  width: 100%;
}

.container-foto{
  height:720.15px ;
}
.container-foto img{
  height:720.15px ;
}